In [19]:
tupla_nomes = ("Marlene","Zezinho","Marlene","Cibete","Zuely")
tupla_nomes.count("Marlene")

2

In [22]:
print(tupla_nomes.count("Zuely"))
tupla_nomes('Pessoa')

tupla_nomes

0

TypeError: 'str' object is not callable

In [9]:
nova_tupla = tuple("Teste")

nova_tupla

('T', 'e', 's', 't', 'e')

In [21]:
print(tupla_nomes.count("Marlene"))
tupla
tupla_nomes

0

'Pessoa'

In [11]:
tupla_numeros = (1, 2, 2, 3, 4, 4, 4, 5)

print(tupla_numeros.count(4))

3

In [12]:
di = {'chave': 'valor'}
print(type(di))

<class 'dict'>

In [33]:
d = {'laranjas': 15, 'bananas':35, 'siriguelas':12}

In [34]:
d['bananas']

35

In [35]:
d['pitombas'] = 20

len(d)

4

In [36]:
d

{'laranjas': 15, 'bananas': 35, 'siriguelas': 12, 'pitombas': 20}

In [37]:
'pitombas' in d

False

In [ ]:
'pears' in d

In [38]:
del d['laranjas']
'laranjas' in d

False

In [39]:
frutas = ["pinhas", "oiti coro", "jaca", "tamarindo"]
print([1, 2] + [3, 4])
print(frutas+[6, 7, 8, 9])

[1, 2, 3, 4]
['pinhas', 'oiti coro', 'jaca', 'tamarindo', 6, 7, 8, 9]

In [42]:
print([0] * 4)
print([1,2, ["oi", "tchau"]]* 2)

[0, 0, 0, 0]
[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]